<html>
  <head>
    <script src="../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="guild-view.html">
    <title>Guild View Demo</title>
  </head>
  <body>
    <demo-snippet>
      <template>
        <dom-module id="guild-view-demo">
          <template>
            <guild-view></guild-view>
          </template>
          <script>
           Polymer({
               is: "guild-view-demo",
           });
          </script>
        </dom-module>
        <guild-view-demo></guild-view-demo>
      </template>
    </demo-snippet>
  </body>
</html>
