<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../guild-view.html">
    <title>guild-view demo</title>
    <style>
     html, body {
         margin: 0;
         padding: 0;
         font-family: 'Roboto', 'Noto', sans-serif;
         font-size: 14px;
         height: 100%;
         background-color: #fafafa;
     }
    </style>
  </head>
  <body>
    <demo-snippet>
      <template>
        <dom-module id="guild-view-demo">
          <template>
            <guild-view></guild-view>
          </template>
          <script>
           Polymer({
               is: "guild-view-demo",
           });
          </script>
        </dom-module>
        <guild-view-demo></guild-view-demo>
      </template>
    </demo-snippet>
  </body>
</html>
