<link rel="import" href="../polymer/polymer.html">

<dom-module id="guild-test">
  <template>
    <table>
      <template is="dom-if" if="[[showCaption]]">
        <caption>You should not see me</caption>
      </template>
      <thead>
        <tr>
          <th>Color</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="[[items]]">
          <tr>
            <td>[[item.color]]</td>
            <td>[[item.size]]</td>
          </tr>
        </template>
      </tbody>
    </table>    
  </template>
  <script>
   Polymer({
       is: "guild-test",
       properties: {
           showCaption: {
               type: Boolean,
               value: false
           },
           items: {
               type: Array,
               value: function() {
                   return [
                       {color: "red", size: "large"},
                       {color: "blue", size: "medium"},
                       {color: "yellow", size: "small"},
                   ]
               }
           }
       }
   });
  </script>
</dom-module>
